// COLORS
$color-primary: #344f4a;
$color-white: #fff;
$color-black: #000;
$color-green-light: #226c5f;
$color-green-dark: #245c52;
$color-brown-light: #705a45;
$color-brown-dark: #4b3c2e;
$color-yellow: #cca63d;
$color-red: #cc3d3d;

// MARGIN
$margin-top-smallest: 1rem;
$margin-top-small: 2.5rem;
$margin-top-medium: 5rem;
$margin-top-large: 7rem;
$margin-top-largest: 10rem;
